* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
  }
  
  #container {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    padding: 20px; 
  }


.card-content-dg{
  background-color: #f1f8e9;
}

.custom-carousel {
  position: relative !important;
  padding: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  
  margin-top: 1rem;
  bottom: 0 !important;
}