#root {
  text-align: center;
}


.swal-top {
  z-index: 2000 !important; 
}
.swal2-container {
  z-index: 20000 !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



/*Color para los links del menu */
.navbar-nav .nav-link {
  color: white;
}


/*Color de hover los links del meni */
.navbar-nav .nav-link:hover {
  color: green;
  /* Cambia el color a tu preferencia (en este caso, rojo) */
}