#root {
  text-align: center;
}




/*Color para los links del menu */
.navbar-nav .nav-link {
  color: white;
}


/*Color de hover los links del meni */
.navbar-nav .nav-link:hover {
  color: green;
  /* Cambia el color a tu preferencia (en este caso, rojo) */
}